.videoframes {
    padding-left: 10px;
    height: 100%;
    width: 100%;
}

.videoframes .frames {
    max-height: 1000px;
    width: 100%;
    overflow-y: auto;
}

.videoframes .frame {
    display: inline-block;
    border: solid 1px lightgray;
    padding: 10px;
    margin: 5px;
}
.videoframes .frame:hover {
    background-color: rgb(239, 239, 239);
    cursor: pointer;
}
.videoframes .frame .ts{
    padding: 5px;
    color: gray;
}

.videoframes .frame img{
    width:100%;
}

.videoframes .frame .score {
    display: inline-block;
    vertical-align: top;
    width:100%;
    padding: 5px;
    font-size: small;
    color:gray;
}
.videoframes .frame .caption {
    display: inline-block;
    vertical-align: top;
    width:100%;
    padding: 5px;
}
.videoframes .frame .label {
    display: inline-block;
    vertical-align: top;
    width:100%;
    padding: 5px;
}
.videoframes .pager {
    display: block;
    float: right;
}