.videomain {
    width: 100%;
}
.videomain .globalaction {
    display: block;
    width: 100%;
}
.videomain .globalaction .readonly-note {
    display: block;
    float: right;
    color: gray;
    font-size: small;
    padding: 0px 5px 0px 5px;
    width: 150px;
}
.videomain .globalaction .refresh,.videomain .globalaction .upload {
    float: right;
}