.videoshots {
    padding-left: 10px;
    height: 100%;
    width: 100%;
}
.videoshots .shotwarn {
    display: block;
    float: right;
}
.videoshots .total {
    font-weight: bold;
    font-size: large;
}

.videoshots .shots {
    max-height: 1000px;
    width: 100%;
    overflow-y: auto;
}

.videoshots .shot {
    display: inline-block;
    margin: 5px;
}
.videoshots .shot:hover {
    background-color: rgb(239, 239, 239);
    cursor: pointer;
}
.videoshots .shot .summary {
    color: gray;
    padding: 5px;
}
.videoshots .shot .ts{
    padding: 5px;
    color: gray;
}

.videoshots .shot img{
    width:100%;
}

.videoshots .shot .frame .score {
    display: block;
    font-size: xx-small;
    color:lightgray;
    float: right;
    padding-right: 5px;
}

.videoshots .pager {
    display: block;
    float: right;
}

.videoshots .shots .shot .frame {
    border: solid 1px lightgray;
    display: inline-block;
    margin: 2px;
    width: 30%;
}