.videotrans {
    padding-left: 10px;
    max-height: 1000px;
    width: 100%;
    overflow-y: auto;
}

.videotrans .title {
    display: inline-block;
    font-size: medium;
    padding: 10px;
    font-weight: bold;
}

.videotrans .content {
    display: inline-block;
    padding: 5px;
}

.videotrans .subtitle {
    display: block;
    width: 100%;
    padding: 20px 10px 30px 10px;
    cursor: pointer;
}

.videotrans .subtitle:hover {
    background-color: rgb(239, 239, 239);
}

.videotrans .subtitle .time {
    display: block;
    width: 85px;
    float: left;
    border-radius: 5px;
    background-color: rgb(227, 227, 227);
    padding: 3px;
    font-size: small;
}

.videotrans .subtitle .trans {
    display: inline-block;
    width: 70%;
    margin-left: 20px;
    font-size: medium;
}
