.videosearch {
    width: 100%;
}

.videosearch .noresult {
    padding: 20px;
    font-size: large;
    color: gray;
}
.videosearch .thumbnail {
    display: inline-block;
    border: lightgray 1px solid;
    padding: 10px;
    margin: 10px;
    width: 23%;
    vertical-align: top;
    min-height: 240px;
}

.videosearch .thumbnail .img {
    display: block;
    padding: 0px;
    width: 100%;
    min-height: 150px;
    background-color: gray;
    cursor: pointer;
}

.videosearch .thumbnail .title {
    display: block;
    width: 100%;
    max-height: 50px;
    padding-top: 10px;
    font-size: medium;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.videosearch .thumbnail .status {
    display: block;
    font-size: small;
    padding-top: 5px;
}

.videosearch .thumbnail .action {
    display: block;
    float: right;
    margin-top: -15px;
    cursor: pointer;
}

.videosearch .thumbnail .timestamp {
    font-size: x-small;
    color:gray;
}

.videosearch .thumbnail .violation {
    padding-top: 5px;
}

.videosearch .thumbnail .hide {
    display: none;
    border: solid 1px red;
}

.videosearch .thumbnail .frames {
    display: block;
    top: 10px;
    left: 10px;
    width: 910px;
    box-shadow: 5px 5px 5px lightgray;
    background-color: white;
    border-radius: 10px;
}

.videosearch .thumbnail .frames .close {
    float:right;
    margin-bottom: 20px;
}

.videosearch .thumbnail .frames .box {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    vertical-align: top;
    width: 210px;
    min-height: 100%;
    color: gray;
    border: lightgray 1px solid;
}

.videosearch .thumbnail .frames .box .key {
    font-weight: bold;
    display: inline;
    font-size: medium;
}
.videosearch .thumbnail .frames .box .item {
    display: block;
    padding-bottom: 5px;
    word-wrap: break-word;
    font-size: small;
}
.videosearch .thumbnail .frames .box img{
    width: 100%;
}
.videosearch .showmore {
    display: block;
    padding-left: 40%;
    margin: 30px;
}

.videosearch .searchinput {
    display: inline-block;
    width: 100%;
}

.videosearch .searchinput .input-text {
    display: inline-block;
    width: 50%;
}
.videosearch .searchinput .input-source {
    display: inline-block;
    margin-right: -18px;
    margin-top: 2px;
}
.videosearch .searchinput .search {
    display: inline-block;
    padding-left: 10px;
}

.videosearch .searchinput .search .clear-icon {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}

.videosearch .searchinput .search-by-image{
    display: inline-block;
    border-radius: 10px;
    border: 1px lightgray solid;
    padding: 10px;
    margin-top: 10px;
    width: 550px;
}
.videosearch .searchinput .search-by-text{
    display: inline-block;
    border-radius: 10px;
    border: 1px lightgray solid;
    padding: 10px;
    margin-top: 10px;
    width: 500px;
}

.videosearch .searchinput .search-by-image .title, .videosearch .searchinput .search-by-text .title{
    font-size: medium;
    font-weight: bold;
    padding: 10px;
}

.videosearch .searchinput .search-by-text .desc, .videosearch .searchinput .search-by-image .desc{
    font-size: small;
    padding:10px;
}

.videosearch .searchinput .search-by-image .input{
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.videosearch .searchinput .search-by-image .image-container {
    display: block;
    float: right;
}

.videosearch .searchinput .search-by-image .uploaded-image {
    max-width: 250px;
    max-height: 250px;
    display: block;
    margin-top: -70px;
}

.videosearch .searchinput .search-by-image .image-container svg{
    display: block;
    float: right;
    vertical-align: top;
    margin-top: -100px;
    cursor: pointer;
}

.videosearch .searchinput .search-by-image .score-threshold, .videosearch .searchinput .search-by-text .score-threshold{
    width: 200px;
    margin-left: 10px;
}